<div id="alert" class="alert alert-dismissible fade" style="position: absolute;right: 0;top:0;margin-top: 6px;width: 70%;" role="alert">
    <div id="text" class="w-100 mx-auto my-auto text-center">

    </div>
    <button id="alertCloseButton" type="button" class="close" onclick="uiCtrl.showHideAlert('hide',null,null);uiCtrl.showHideSpinner('mainContent','hide');" style="float: right;">
        <span aria-hidden="true">&times;</span>
      </button>
</div>