<button id="ActionScript" class="item languageItem">ActionScript</button>
<button id="Ada" class="item languageItem">Ada</button>
<button id="ASL" class="item languageItem">ASL</button>
<button id="Assembly" class="item languageItem">Assembly</button>
<button id="AutoHotkey" class="item languageItem">AutoHotkey</button>
<button id="AutoIt" class="item languageItem">AutoIt</button>
<button id="Batchfile" class="item languageItem">Batchfile</button>
<button id="C" class="item languageItem">C</button>
<button id="C#" class="item languageItem">C#</button>
<button id="C++" class="item languageItem">C++</button>
<button id="Clojure" class="item languageItem">Clojure</button>
<button id="CMake" class="item languageItem">CMake</button>
<button id="CoffeeScript" class="item languageItem">CoffeeScript</button>
<button id="Common Lisp" class="item languageItem">Common Lisp</button>
<button id="Crystal" class="item languageItem">Crystal</button>
<button id="CSS" class="item languageItem">CSS</button>
<button id="D" class="item languageItem">D</button>
<button id="Dart" class="item languageItem">Dart</button>
<button id="DM" class="item languageItem">DM</button>
<button id="Dockerfile" class="item languageItem">Dockerfile</button>
<button id="Elixir" class="item languageItem">Elixir</button>
<button id="Elm" class="item languageItem">Elm</button>
<button id="Emacs Lisp" class="item languageItem">Emacs Lisp</button>
<button id="Erlang" class="item languageItem">Erlang</button>
<button id="F#" class="item languageItem">F#</button>
<button id="Forth" class="item languageItem">Forth</button>
<button id="G-code" class="item languageItem">G-code</button>
<button id="GAP" class="item languageItem">GAP</button>
<button id="GDScript" class="item languageItem">GDScript</button>
<button id="GLSL" class="item languageItem">GLSL</button>
<button id="Go" class="item languageItem">Go</button>
<button id="Groovy" class="item languageItem">Groovy</button>
<button id="Haskell" class="item languageItem">Haskell</button>
<button id="Haxe" class="item languageItem">Haxe</button>
<button id="HCL" class="item languageItem">HCL</button>
<button id="HLSL" class="item languageItem">HLSL</button>
<button id="HTML" class="item languageItem">HTML</button>
<button id="Java" class="item languageItem">Java</button>
<button id="JavaScript" class="item languageItem">JavaScript</button>
<button id="Jinja" class="item languageItem">Jinja</button>
<button id="Julia" class="item languageItem">Julia</button>
<button id="Jupyter Notebook" class="item languageItem">Jupyter Notebook</button>
<button id="Kotlin" class="item languageItem">Kotlin</button>
<button id="Logos" class="item languageItem">Logos</button>
<button id="Lua" class="item languageItem">Lua</button>
<button id="Makefile" class="item languageItem">Makefile</button>
<button id="Markdown" class="item languageItem">Markdown</button>
<button id="Mathematica" class="item languageItem">Mathematica</button>
<button id="MATLAB" class="item languageItem">MATLAB</button>
<button id="mcfunction" class="item languageItem">mcfunction</button>
<button id="Mustache" class="item languageItem">Mustache</button>
<button id="Nim" class="item languageItem">Nim</button>
<button id="Nix" class="item languageItem">Nix</button>
<button id="Objective-C" class="item languageItem">Objective-C</button>
<button id="Objective-C++" class="item languageItem">Objective-C++</button>
<button id="OCaml" class="item languageItem">OCaml</button>
<button id="OpenSCAD" class="item languageItem">OpenSCAD</button>
<button id="Pascal" class="item languageItem">Pascal</button>
<button id="Perl" class="item languageItem">Perl</button>
<button id="PHP" class="item languageItem">PHP</button>
<button id="PLpgSQL" class="item languageItem">PLpgSQL</button>
<button id="PowerShell" class="item languageItem">PowerShell</button>
<button id="Processing" class="item languageItem">Processing</button>
<button id="Puppet" class="item languageItem">Puppet</button>
<button id="PureScript" class="item languageItem">PureScript</button>
<button id="Python" class="item languageItem">Python</button>
<button id="QML" class="item languageItem">QML</button>
<button id="R" class="item languageItem">R</button>
<button id="Racket" class="item languageItem">Racket</button>
<button id="Ren'Py" class="item languageItem">Ren'Py</button>
<button id="ReScript" class="item languageItem">ReScript</button>
<button id="Rich Text Format" class="item languageItem">Rich Text Format</button>
<button id="Roff" class="item languageItem">Roff</button>
<button id="Ruby" class="item languageItem">Ruby</button>
<button id="Rust" class="item languageItem">Rust</button>
<button id="Scala" class="item languageItem">Scala</button>
<button id="Scheme" class="item languageItem">Scheme</button>
<button id="SCSS" class="item languageItem">SCSS</button>
<button id="ShaderLab" class="item languageItem">ShaderLab</button>
<button id="Shell" class="item languageItem">Shell</button>
<button id="Solidity" class="item languageItem">Solidity</button>
<button id="Squirrel" class="item languageItem">Squirrel</button>
<button id="Starlark" class="item languageItem">Starlark</button>
<button id="Svelte" class="item languageItem">Svelte</button>
<button id="Swift" class="item languageItem">Swift</button>
<button id="Tcl" class="item languageItem">Tcl</button>
<button id="TeX" class="item languageItem">TeX</button>
<button id="TypeScript" class="item languageItem">TypeScript</button>
<button id="V" class="item languageItem">V</button>
<button id="Vala" class="item languageItem">Vala</button>
<button id="VBA" class="item languageItem">VBA</button>
<button id="Verilog" class="item languageItem">Verilog</button>
<button id="VHDL" class="item languageItem">VHDL</button>
<button id="Vim Script" class="item languageItem">Vim Script</button>
<button id="VimL" class="item languageItem">VimL</button>
<button id="Visual Basic .NET" class="item languageItem">Visual Basic .NET</button>
<button id="Visual Basic" class="item languageItem">Visual Basic</button>
<button id="Vue" class="item languageItem">Vue</button>
<button id="ZenScript" class="item languageItem">ZenScript</button>
<button id="Zig" class="item languageItem">Zig</button>